{% extends 'base.html' %}
{% load static %}  <!-- ✅ Agregado aquí -->

{% block content %}
<div class="container mt-5 text-center">
    <h2 class="fw-bold mb-4">Nuestro Menú</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
        {% for menu in menus %}
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                {% if menu.img_url %}
                    <img src="{{ menu.img_url.url }}" class="card-img-top" alt="{{ menu.nombre }}">
                {% else %}
                    <img src="{% static 'img/default-food.jpg' %}" class="card-img-top" alt="Sin imagen">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{ menu.nombre }}</h5>
                    <p class="card-text">{{ menu.descripcion|truncatewords:12 }}</p>
                    <p class="fw-bold">{{ menu.precio }} Gs</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
