{% extends 'home.html' %}

{% block content %}
            <ul>
                {% for menu in menus %}
                    <li>
                        <strong>{{ menu.nombre }}</strong> - {{ menu.categoria }} - ${{ menu.precio }}
                        {% if menu.stock > 0 %}
                            <span style="color:green;">Disponible</span>
                        {% else %}
                            <span style="color:red;">Agotado</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

{% endblock %}
