{% extends 'home.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="form-container bg-light p-4 rounded shadow-sm">
        <h1 class="text-center">Mis Datos</h1>
        <div class="mb-3">
            <ul>
                {% for dato in mis_datos %}
                <li>Nombre y Apellido: {{dato.nombre_apellido}}</li>
                <li>Nro de Cédula: {{dato.cedula}}</li>
                <li>Correo eléctronico: {{dato.correo}}</li>
                <li>Nro de Telefono: {{dato.telefono}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}