@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset general de margenes y padding, tipografía base y comportamiento de scroll */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-color: #fcd773; /* Fondo amarillo fijo */
    background-attachment: fixed; /* El fondo no se mueve al hacer scroll */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px; /* Espacio para la navbar fija */
}


.navbar-brand img {
    width: 60px; 
    height: 50px; 
    
}

.custom-navbar {
    background: linear-gradient(to left, #fcd773 80%, #C70039 100%); /* Degradado amarillo a rojo */
    border-bottom: 1px solid rgba(199, 0, 57, 0.2); /* Línea fina debajo */
    position: fixed; /* Fija la navbar en la parte superior */
    width: 100%; /* Ancho completo */
    top: 0; /* Pegada al borde superior */
    z-index: 1000; /* Para que esté por encima de otros elementos */
    padding: 0.3rem 1rem; /* Espaciado interno */
    box-sizing: border-box; /* Incluye padding en el ancho total */
    height: 60px; /* Altura fija de la navbar */
}

/* Pantallas medianas (tablets, < 768px) */
@media (max-width: 768px) {
  .imagen-menu {
    max-width: 100%;
    border-radius: 10px;
  }
}

/* Pantallas pequeñas (móviles, < 480px) */
@media (max-width: 450px) {
  .imagen-menu {
    max-width: 100%;
    border-radius: 10px;
  }
}

